%Place in /etc/udev/rules.d
%udevadm info -a --path=$(udevadm info -q path -n /dev/video0) | grep serial
%sudo udevadm control --reload-rules

%Front
SUBSYSTEM=="video4linux", ATTRS{serial}=="062370AB", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="B88980AC", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="52B980A3", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="416080AE", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="704231A2", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="D81270A3", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="3C8170A3", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="818070AF", SYMLINK+="cam_front", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="08E070AD", SYMLINK+="cam_front", mode="0777"

%Omni
SUBSYSTEM=="video4linux", ATTRS{serial}=="A7A080AE", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="22C370AB", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="5AA170AD", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="698980A3", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="112570AE", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="3B5270A0", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="357570AE", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="4B3270A0", SYMLINK+="cam_omni", mode="0777"
SUBSYSTEM=="video4linux", ATTRS{serial}=="C64A80AC", SYMLINK+="cam_omni", mode="0777"
